

<h1>Books</h1>

<% unless @books_available.empty? %>
<table class="table-striped">
  <caption>Available books</caption>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Abstract</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @books_available.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.abstract %></td>
        <td><%= link_to 'Show', book, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_book_path(book), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
        <td><%= link_to 'Rent', rent_book_path(book), class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<% unless @books_rented.empty? %>
<table class="table-striped">
  <caption>Rented books</caption>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Abstract</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @books_rented.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.abstract %></td>
        <td><%= link_to 'Show', book, class: "btn btn-default" %></td>
        <% if book.rent_logs.last.user_id == current_user.id %>
        <td><%= link_to 'Return', return_book_path(book), class: "btn btn-info" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'New Book', new_book_path, class: "btn btn-info" %>
<%= link_to 'Rent History', rent_log_index_path, class: "btn btn-default" %>
