<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @book.abstract %>
</p>

<% unless @rents.empty? %>
<table class="table-striped table-bordered">
  <caption>Rents</caption>
  <thead>
    <tr>
      <th>User</th>
      <th>Rented at</th>
      <th>Returned at</th>
    </tr>
  </thead>

  <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= rent.user.email %></td>
        <td><%= rent.rent_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><% if rent.return_at != nil %><%= rent.return_at.strftime("%Y-%m-%d %H:%M:%S") %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'Edit', edit_book_path(@book), class: "btn btn-default" %> |
<%= link_to 'Back', books_path, class: "btn btn-info" %>
